In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

ratings_df = pd.read_csv('ratings.csv')

In [2]:
ratings_df.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>99999</th>
      <td>671</td>
      <td>6268</td>
      <td>2.5</td>
      <td>1065579370</td>
    </tr>
    <tr>
      <th>100000</th>
      <td>671</td>
      <td>6269</td>
      <td>4.0</td>
      <td>1065149201</td>
    </tr>
    <tr>
      <th>100001</th>
      <td>671</td>
      <td>6365</td>
      <td>4.0</td>
      <td>1070940363</td>
    </tr>
    <tr>
      <th>100002</th>
      <td>671</td>
      <td>6385</td>
      <td>2.5</td>
      <td>1070979663</td>
    </tr>
    <tr>
      <th>100003</th>
      <td>671</td>
      <td>6565</td>
      <td>3.5</td>
      <td>1074784724</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
ratings_df.size

400016